.main{
    
  justify-content: center;
  align-items: center;
 }
.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.heading1{
    position: absolute;
    align-items: center;
}
.container2{
    margin-top: -100px;

}

