
.heading{
    font-size: 50px;
   
    background-color: rgb(224, 225, 224);
    
    text-align: center;
}
.card-section{
    width: 70%;
    margin: 20px 300px 50px 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
