.main-container{
    width: 80vh;
    height: auto;
}

.video-container{
    width: 70%;
    margin: 20px 300px 50px 300px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 50px;
   
   
}
.video-container iframe{
    width: 300px;
    height: 200px;
}